<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ if .Params.seotitle }}{{ .Params.seotitle }}{{ else }}{{ .Title }}{{ end }} • Lee Ghimire</title>
  
  <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Summary }}{{ .Summary | plainify }}{{ else }}Lee Ghimire's Personal Website{{ end }}" />
  <meta name="keywords" content="{{ if .Params.keywords }}{{ delimit .Params.keywords ", " }}{{ else }}Lee Ghimire, blog, portfolio{{ end }}" />
  
  <!-- Dublin Core and rights information -->
  <meta name="dc.rights" content="https://creativecommons.org/publicdomain/zero/1.0/">
  <meta name="dcterms.rights" content="CC PD-0">
  <link rel="schema.dcterms" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/">
  
  <!-- Citation meta tags for scholarly indexing -->
  <meta name="citation_title" content="{{ .Title }}">
  {{ with .Params.abstract }}
    <meta name="citation_abstract" content="{{ . }}">
  {{ end }}
  
  <!-- Authors: handle both string and array formats -->
  {{ $authors := .Params.authors }}
  {{ if not $authors }}
    <meta name="citation_author" content="Lee Ghimire">
  {{ else if eq (printf "%T" $authors) "string" }}
    <meta name="citation_author" content="{{ $authors }}">
  {{ else }}
    {{ range $authors }}
      <meta name="citation_author" content="{{ . }}">
    {{ end }}
  {{ end }}
  
  <!-- Open Graph meta tags -->
  <meta property="og:site" content="leeghimire.com">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ if .Params.seotitle }}{{ .Params.seotitle }}{{ else }}{{ .Title }}{{ end }}">
  <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Summary }}{{ .Summary | plainify }}{{ else }}Lee Ghimire's Personal Website{{ end }}">
  <meta property="og:image" content="/sun.svg">
  <meta property="og:url" content="{{ .Permalink }}">
  
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="Lee Ghimire">
  <meta name="twitter:site" content="leeghimire.com">
  <meta name="twitter:title" content="{{ if .Params.seotitle }}{{ .Params.seotitle }}{{ else }}{{ .Title }}{{ end }}">
  <meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Summary }}{{ .Summary | plainify }}{{ else }}All things, a praise of fire...{{ end }}">
  <meta name="twitter:image" content="/sun.svg">
  
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  {{ block "main" . }}{{ end }}
  <script src="/sort.js"></script>
</body>
</html>
